.hangman__reset {
  padding: 0.7rem 1rem;
  background-color: rgb(241, 0, 0);
  color: azure;
  font-weight: 800;
  border-radius: 3px;

  margin: 1rem 0.8rem;

  cursor: pointer;

  &:active {
    background-color: rgba(241, 0, 0, 0.575);
  }
}
